<!-- header.component.html -->
<nav class="navbar navbar-expand-lg navbar-light navmenu">
    <div class="container">
        <a class="navbar-brand" routerLink="/">Brandname</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ms-15">
                <li class="nav-item">
                    <a class="nav-link font-bold" href="#home">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link font-bold" href="#product">Product</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link font-bold" href="#price">Teams</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link font-bold" href="#contact">Contact</a>
                </li>
            </ul>
            <a class="btn text-green ms-15">Login</a>
            <a class="btn btn-success font-bold m-2">JOIN US
                <i class="pi pi-arrow-right"></i>
            </a>
        </div>
    </div>
</nav>