.navmenu {
    background-color: #FFF2F3;
}

.ms-10 {
    margin-left: 10%;
}

.ms-15 {
    margin-left: 27%;
}

.justify-content-center {
    justify-content: center;
}

.font-bold {
    font-weight: 600;
}

.nav-link {
    color: #737373;
}