<!-- approbable-packages.component.html -->
<section class="approbable-packages py-5" id="product">
    <div class="container py-5 my-5">
        <div class="row">
            <div class="col-md-6">
                <h2 class="section-title py-2 pt-4">Approbable Packages</h2>
                <p class="section-subtitle">Problems trying to resolve the conflict between the two major realms of
                    Classical physics: Newtonian mechanics.</p>
                <a href="#" class="btn btn-link p-0">Learn More <i class="pi pi-chevron-right"></i></a>
            </div>
            <div class="col-md-6">
                <div class="row">
                    <div class="col-md-6 mb-3">
                        <p-card class="custom-card">
                            <ng-template pTemplate="header" class="align-card">
                                <div class="icon-container d-flex justify-content-center align-items-center">
                                    <i class="pi pi-desktop icon-style"></i>
                                </div>
                            </ng-template>
                            <ng-template pTemplate="title">
                                <div class="text-left card-title">Certified Teacher</div>
                                <div class="red-line"></div>
                            </ng-template>
                            <ng-template pTemplate="subtitle">
                                <div class="text-left card-subtitle">The gradual accumulation of information about</div>
                            </ng-template>
                        </p-card>
                    </div>
                    <div class="col-md-6 mb-3">
                        <p-card class="custom-card">
                            <ng-template pTemplate="header">
                                <div class="icon-container d-flex justify-content-center align-items-center">
                                    <img src="../../../assets/img/green_telescope.png" class="icon-img">
                                </div>
                            </ng-template>
                            <ng-template pTemplate="title">
                                <div class="text-left card-title">Expert Instruction</div>
                                <div class="red-line"></div>
                            </ng-template>
                            <ng-template pTemplate="subtitle">
                                <div class="text-left card-subtitle">The gradual accumulation of information about</div>
                            </ng-template>
                        </p-card>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>